<div class="container right-container">
  <% jokes.forEach(joke => { %>
      <div class="jumbotron">
          <span class="joke"><%= joke.content %></span>
          <br>
          <br>
          <div class="rating">
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='1'></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='2'></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='3'></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='4'></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='5'></span>
          <span class="rating-value">Avg.<%= joke.rating %></span>
          <!-- <form action="/jokes/joke/<%= joke._id %>" method="POST"> -->
          <button type="submit" class="btn favorite"><i class="em em-laughing"></i></button>
          <!-- </form> -->
          <button type="button" class="btn btn-default share" data-html="true" data-toggle="popover" title="Link" 
                data-content="<a class='share-link' href='http://jester-app.herokuapp.com/share/<%= joke._id %>'>http://localhost:3000/share/<%= joke._id %></a>">Share  <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
        </div>
      </div>
  <% }) %>

  
</div>