<div class="container right-container">
  <% jokes.forEach(joke => { %>
    <div class="jumbotron">
      <span class="joke">
        <%= joke.content %>
      </span>
      <br>
      <br>
      <div class="row">
        <div class="rating col-xs-4">
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='1' data-joke="<%= joke._id %>"></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='2' data-joke="<%= joke._id %>"></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='3' data-joke="<%= joke._id %>"></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='4' data-joke="<%= joke._id %>"></span>
          <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='5' data-joke="<%= joke._id %>"></span>
          <span class="rating-value">Avg.
            <%= joke.rating %>
          </span>
        </div>
        <div class- "col-xs-6">
          <!-- If The Joke Isn't In the User's Favorites List -->
          <% if (user.favorites.indexOf(joke._id) === -1 ){ %>
            <!-- <form action="/favorites/<%= user._id %>/<%= joke._id %>" method="POST" id="favorites-on"> -->
            <!-- id="favorites-on-button" -->
            <button type="submit" class="btn favorite fav" data-user="<%= user._id %>" data-joke="<%= joke._id %>">
              <i class="em em-laughing"></i>
            </button>
            <!-- </form> -->
            <% } else {%>
              <!-- <form action="/favorites/<%= user._id %>/<%= joke._id %>" method="POST" id="favorites-off"> -->
              <!-- id="favorites-off-button" -->
              <button type="submit" class="btn favorited fav" data-user="<%= user._id %>" data-joke="<%= joke._id %>">
                <i class="em em-laughing"></i>
              </button>
              <!-- </form> -->
              <% } %>
                <!-- </form> -->
                <button type="button" class="btn btn-default share" data-html="true" data-toggle="popover" title="Link" data-content="<a class='share-link' href='<%= urlBase %>/share/<%= joke._id %>'><%= urlBase %>/share/<%= joke._id %></a>">Share
                  <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                </button>
        </div>
      </div>
    </div>
    <% }) %>


</div>