<% if (jokes.length > 0) {%>

<div class="container right-container">
  <% jokes.forEach(joke => { %>
    <div class="jumbotron">
      <span class="joke"><%= joke.content %></span>
      <br>
      <br>
    <div class="row">
        <div class="rating col-xs-4">
          <form action="/ratings/<%= joke._id %>/1" method="POST" id='star-1'>
            <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='1'></span>
          </form>
          <form action="/ratings/<%= joke._id %>/2" method="POST" id='star-2'>
            <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='2'></span>
          </form>
          <form action="/ratings/<%= joke._id %>/3" method="POST" id='star-3'>
            <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='3'></span>
          </form>
          <form action="/ratings/<%= joke._id %>/4" method="POST" id='star-4'>
            <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='4'></span>
          </form>
          <form action="/ratings/<%= joke._id %>/5" method="POST" id='star-5'>
            <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='5'></span>
          </form>
          <span class="rating-value">Avg.<%= joke.rating %></span>
        </div>
        <div class-"col-xs-6">
     <!-- If The Joke Isn't In the User's Favorites List -->
          <% if (user.favorites.indexOf(joke._id) === -1 ){ %>
            <form action="/favorites/<%= user._id %>/<%= joke._id %>" method="POST" id="favorites-on">
              <!-- id="favorites-on-button" -->
              <button class="btn favorite"><i class="em em-laughing"></i></button>
            </form>
          <% } else {%>
            <form action="/favorites/<%= user._id %>/<%= joke._id %>" method="POST" id="favorites-off">
              <!-- id="favorites-off-button" -->
              <button class="btn favorited" ><i class="em em-laughing"></i></button>
            </form>
          <% } %>
      <!-- </form> -->
          <button type="button" class="btn btn-default share" data-html="true" data-toggle="popover" title="Link" 
          data-content="<a class='share-link' href='http://jester-app.herokuapp.com/share/<%= joke._id %>'>http://localhost:3000/share/<%= joke._id %></a>">Share  <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
            
          <!-- <br> -->
          <div class="btn-group edit-buttons" role="group" aria-label="Edit Buttons">
          <!-- Edit Joke Button -->
            <a class="edit-button" href="/jokes/<%= joke._id %>/edit"><button type="button" class="btn btn-primary">Edit</button></a>
          <!-- Delete Joke Button -->
            <form action ="/jokes/<%= joke._id %>/delete" method="POST">
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </div>
        </div>
        </div>
      </div>
  <% }) %> 
</div>
<% }%>
