<% if (jokes.length > 0) {%>

  <div class="container right-container">
    <% jokes.forEach((joke, index) => { %>
      <div class="jumbotron">
        <span class="joke">
          <%= joke.content %>
        </span>
        <br>
        <br>
        <div class="row">
          <% if (userRatingIds.indexOf(joke._id.toString()) === -1) { %>
            <div class="rating col-xs-4" data-rating="0">
              <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='1' data-joke="<%= joke._id %>"></span>
              <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='2' data-joke="<%= joke._id %>"></span>
              <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='3' data-joke="<%= joke._id %>"></span>
              <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='4' data-joke="<%= joke._id %>"></span>
              <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='5' data-joke="<%= joke._id %>"></span>
              <span class="rating-value">Avg.
                <%= joke.rating %>
              </span>
            </div>
            <% } else { %>
              <div class="rating col-xs-4" data-rating="<%= userRatings[userRatingIds.indexOf(joke._id.toString())] %>">
                <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='1' data-joke="<%= joke._id %>"></span>
                <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='2' data-joke="<%= joke._id %>"></span>
                <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='3' data-joke="<%= joke._id %>"></span>
                <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='4' data-joke="<%= joke._id %>"></span>
                <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" data-value='5' data-joke="<%= joke._id %>"></span>
                <span class="rating-value">Avg.
                  <%= joke.rating %>
                </span>
              </div>
              <% } %>
                <div class="col-xs-6">
                  <!-- If The Joke Isn't In the User's Favorites List -->
                  <% if (user.favorites.indexOf(joke._id) === -1 ){ %>
                    <button type="submit" class="btn favorite fav" data-user="<%= user._id %>" data-joke="<%= joke._id %>">
                      <i class="em em-laughing"></i>
                    </button>
                    <% } else {%>
                      <button type="submit" class="btn favorited fav" data-user="<%= user._id %>" data-joke="<%= joke._id %>">
                        <i class="em em-laughing"></i>
                      </button>
                      <% } %>
                        <button type="button" class="btn btn-default share" data-html="true" data-toggle="popover" title="Link" data-content="<a class='share-link' href='<%= urlBase %>/share/<%= joke._id %>'><%= urlBase %>/share/<%= joke._id %></a>">Share
                          <span class="glyphicon glyphicon-share" aria-hidden="true"></span>
                        </button>
                        <!-- <br> -->

                        <!-- Edit Joke Button -->
                        <a id="edit-button" href="/jokes/<%= joke._id %>/edit">
                          <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                        <!-- Delete Joke Button -->
                        <form action="/jokes/<%= joke._id %>/delete" method="POST" id="delete-button-form">
                          <button type="submit" class="btn btn-primary" id="delete-button">Delete</button>
                        </form>

                </div>
        </div>
      </div>
      <% }) %>
  </div>
  <% }%>